div span.letter-A {visibility: hidden;}
div span.letter-Ą {visibility: hidden;}
div span.letter-B {visibility: hidden;}
div span.letter-C {visibility: hidden;}
div span.letter-Ć {visibility: hidden;}
div span.letter-D {visibility: hidden;}
div span.letter-E {visibility: hidden;}
div span.letter-Ę {visibility: hidden;}
div span.letter-F {visibility: hidden;}
div span.letter-G {visibility: hidden;}
div span.letter-H {visibility: hidden;}
div span.letter-I {visibility: hidden;}
div span.letter-J {visibility: hidden;}
div span.letter-K {visibility: hidden;}
div span.letter-L {visibility: hidden;}
div span.letter-Ł {visibility: hidden;}
div span.letter-M {visibility: hidden;}
div span.letter-N {visibility: hidden;}
div span.letter-Ń {visibility: hidden;}
div span.letter-O {visibility: hidden;}
div span.letter-Ó {visibility: hidden;}
div span.letter-P {visibility: hidden;}
div span.letter-R {visibility: hidden;}
div span.letter-S {visibility: hidden;}
div span.letter-Ś {visibility: hidden;}
div span.letter-T {visibility: hidden;}
div span.letter-U {visibility: hidden;}
div span.letter-W {visibility: hidden;}
div span.letter-Y {visibility: hidden;}
div span.letter-Z {visibility: hidden;}
div span.letter-Ź {visibility: hidden;}
div span.letter-Ż {visibility: hidden;}

#A:checked ~ div span.letter-A {visibility: visible;}
#Ą:checked ~ div span.letter-Ą {visibility: visible;}
#B:checked ~ div span.letter-B {visibility: visible;}
#C:checked ~ div span.letter-C {visibility: visible;}
#Ć:checked ~ div span.letter-Ć {visibility: visible;}
#D:checked ~ div span.letter-D {visibility: visible;}
#E:checked ~ div span.letter-E {visibility: visible;}
#Ę:checked ~ div span.letter-Ę {visibility: visible;}
#F:checked ~ div span.letter-F {visibility: visible;}
#G:checked ~ div span.letter-G {visibility: visible;}
#H:checked ~ div span.letter-H {visibility: visible;}
#I:checked ~ div span.letter-I {visibility: visible;}
#J:checked ~ div span.letter-J {visibility: visible;}
#K:checked ~ div span.letter-K {visibility: visible;}
#L:checked ~ div span.letter-L {visibility: visible;}
#Ł:checked ~ div span.letter-Ł {visibility: visible;}
#M:checked ~ div span.letter-M {visibility: visible;}
#N:checked ~ div span.letter-N {visibility: visible;}
#Ń:checked ~ div span.letter-Ń {visibility: visible;}
#O:checked ~ div span.letter-O {visibility: visible;}
#Ó:checked ~ div span.letter-Ó {visibility: visible;}
#P:checked ~ div span.letter-P {visibility: visible;}
#R:checked ~ div span.letter-R {visibility: visible;}
#S:checked ~ div span.letter-S {visibility: visible;}
#Ś:checked ~ div span.letter-Ś {visibility: visible;}
#T:checked ~ div span.letter-T {visibility: visible;}
#U:checked ~ div span.letter-U {visibility: visible;}
#W:checked ~ div span.letter-W {visibility: visible;}
#Y:checked ~ div span.letter-Y {visibility: visible;}
#Z:checked ~ div span.letter-Z {visibility: visible;}
#Ź:checked ~ div span.letter-Ź {visibility: visible;}
#Ż:checked ~ div span.letter-Ż {visibility: visible;}
