.click {
  position: absolute;
  background-color: hsla(0, 100%, 67%, 1);
  box-shadow: 0 0 10rem 0.5rem hsla(0, 50%, 59%, .7);
}

.click-1 {
  width: 80%;
  height: 10px;
  left: 60px;
  top: 550px;
}

.click-2 {
  width: 10px;
  height: 500px;
  top: 50px;
  left: 60px;
}

.click-3 {
  width: 300px;
  height: 10px;
  top: 50px;
  left: 60px;
  margin: 0 auto;
}

.click-4 {
  width: 10px;
  height: 110px;
  top: 50px;
  left: 295px;
}
