body {
  margin: 0;
  color: #585858;
  background-color: #0A0A0A;
}

.main-wrapper {
  width: 1000px;
  margin: 80px 10% 0;
  float: right;
  counter-reset: sum 6;
  text-align: center;
  z-index: 2;
}

label.letter {
  width: 60px!important;
  height: 60px!important;
  font-size: 52px!important;
}

label.letter:hover {
  background-color: rgba(00,00,00,0.1);
}

.hangman {
  margin: 2%;
  position: absolute;
  display: inline-block;
  width: 96%;
  height: 340px;
  top: 0;
  left: 0;
  text-align: center;
  border: 6px solid #ffe919;
  border-radius: 30px;
  background-color: rgba(256,233,25,0.1);
}

.answer-0 {
  margin-top: 230px;
}

.answer-0 div {
  display: inline-block;
  border-bottom: 3px solid #ffe919;
}

.answer-0:after {
  content: counter(sum);
  position: absolute;
  top: 500px;
  left: 20px;
  color: #ffe919;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 5.5em;
  margin: 8px;
  border-radius: 30px;
  border: solid 6px #ffe919;
}

.pop-up {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  text-align: center;
}

.pop-up h1 {
  font-size: 5em;
  color: #ffe919;
  text-transform: uppercase;
}

.win-0 {
  visibility: visible;
}

.game-over-0 {
  visibility: hidden;
}

.win-0, .game-over-0 {
  background-color: rgba(222,222,222,0.7);
  color: #222;
}

.reload, label.next {
  text-transform: uppercase;
  color: #ffe919;
  padding: 15px 30px;
  text-align: center;
  font-size: 2.8em;
  cursor: pointer;
  text-decoration: none;
  border: 6px solid #ffe919;
  border-radius: 30px;
  background-color: rgba(256,233,25,0.1);
}

.reload:hover, label.next:hover {
  color: #ffe919;
  border: 6px solid #ffe919;
  background-color: rgba(256,233,25,0.3);
}

/* hide default checkbox */
input {
  position: absolute;
  top: -999px;
  left: -999px;
}

/* create custom labels */
.letter {
  z-index: 1;
}

.letter.word-0 {
  color: #d9d3d3;
  position: relative;
  display: inline-block;
  height: 48px;
  width: 48px;
  padding: 2px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 2.5em;
  margin: 8px;
  border-radius: 4px;
  border: solid 2px rgba(255, 255, 255, .4);
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;
  transition: all .1s;
}

/* change bg color of letter on click */
input.word-0:checked + label.bad.word-0 {
  pointer-events: none;
  background-color: #0A0A0A;
  color: #555252;
  border: solid 2px hsla(0, 100%, 67%, 1);
  box-shadow: 0 0 2rem 0.5rem hsla(0, 50%, 59%, .7);
}
input.word-0:checked + label.good.word-0 {
  pointer-events: none;
  background-color: #0A0A0A;
  color: #555252;
  border: solid 2px hsl(120, 100%, 65%);
  box-shadow: 0 0 3rem 0.5rem hsla(120, 95%, 62%, 0.61);
}

input.word-0.bad:checked {
  counter-increment: sum -1;
}

input.word-0.good:not(:checked) ~ .win-0 {
  visibility: hidden;
}

input.word-0.bad:checked ~ input.word-0.bad:checked ~ input.word-0.bad:checked ~ input.word-0.bad:checked ~ input.word-0.bad:checked ~ input.word-0.bad:checked ~ .game-over-0 {
  visibility: visible;
}

input.bad.word-0:checked ~ .hangman .head {
  visibility: visible;
}
input.bad.word-0:checked ~ input.bad.word-0:checked ~ .hangman .corp  {
  visibility: visible;
}
input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ .hangman .cloak-left, input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ .hangman .cloak-right {
  visibility: visible;
}
input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ .hangman .grip {
  visibility: visible;
}
input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ .hangman .blade {
  visibility: visible;
}

input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ input.bad.word-0:checked ~ .hangman .sword {
  top: 260px;
  left: 300px;
  transform: rotate(130deg);
}

#second:checked ~ .second-word {
  visibility: visible;
}

.second-word {
  visibility: hidden;
}

.second-word {
  position: absolute;
  top: 0;
  left: 0;
  color: #585858;
  background-color: #0A0A0A;
  height: 100%;
  width: 100%;
}
