.answer-4 {
  margin-top: 230px;
}

.answer-4 div {
  display: inline-block;
  border-bottom: 3px solid #ffe919;
}

.answer-4:after {
  content: counter(sum);
  position: absolute;
  top: 500px;
  left: 20px;
  color: #ffe919;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 5.5em;
  margin: 8px;
  border-radius: 30px;
  border: solid 6px #ffe919;
}

.win-4 {
  visibility: visible;
}

.pop-up.win-4 h1 {
  font-size: 8em;
  transform: translateY(15vh) perspective(400px) rotateX(40deg);
}

.game-over-4 {
  visibility: hidden;
  transition-delay: 1s;
}

.win-4, .game-over-4 {
  background-color: rgba(222,222,222,0.7);
  color: #222;
}

/* hide default checkbox */
input {
  position: absolute;
  top: -999px;
  left: -999px;
}

/* create custom labels */
.letter.word-4 {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  padding: 2px;
  margin-bottom: 5px;
  text-align: center;
  margin: 8px;
  border-radius: 4px;
  border: solid 2px rgba(255, 255, 255, .4);
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
}

/* change bg color of letter on click */
input.word-4:checked + label.bad.word-4 {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.15);
  border: solid 2px rgba(255, 255, 255, 0.1);
}
input.word-4:checked + label.good.word-4 {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.15);
  border: solid 2px rgba(255, 255, 255, 0.1);
}

input.word-4.bad:checked {
  counter-increment: sum -1;
}

input.word-4.good:not(:checked) ~ .win-4 {
  visibility: hidden;
}

input.word-4.good:not(:checked) ~ .win-4 h1  {
  transform: translateY(90vh) perspective(400px) rotateX(40deg);
  font-size: 5em;
  transition: all 6s linear;
}

input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ .game-over-4 {
  visibility: visible;
}

input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ input.word-4.bad:checked ~ .game-over-4 h1 {
  bottom: 75%;
  font-size: 8em;
}

input.bad.word-4:checked ~ .hangman .head {
  visibility: visible;
  transform: scale(1);
}
input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .corp  {
  visibility: visible;
  height: 245px;
}
input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .cloak-left, input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .cloak-right {
  visibility: visible;
  border-right: 105px solid #222;
}
input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .grip {
  visibility: visible;
  top: 10px;
  right: 90px;
}
input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .blade {
  visibility: visible;
  width: 20rem;
}

input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .sword {
  transform: rotate(720deg);
}

input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ input.bad.word-4:checked ~ .hangman .sword .blade {
  width: 50rem;
  transition-delay: .2s;
}

.fourth-word .next:checked ~ .fifth-word {
  visibility: visible;
}


.win {
  visibility: hidden;
}

.game-over-4 {
  visibility: hidden;
}

.win, .game-over-4 {
  background-color: rgba(222,222,222,0.7);
  color: #222;
}

.win h1 {
  line-height: 0.4em;
}

.fifth-word {
  visibility: hidden;
}

.fifth-word {
  position: absolute;
  top: 0;
  left: 0;
  color: #585858;
  background-color: #0A0A0A;
  height: 100%;
  width: 100%;
}

.fifth-word .win, .game-over-4 {
  background-color: rgba(222,222,222,0.9);
}
