.vader-wrapper {
  position: relative;
  width: 200px;
  margin: 20px;
  transform: scale(0.65);
}

.head, .corp, .sword, .cloak-left, .cloak-right {
  visibility: hidden;
}

.rope {
  width: 10px;
  height: 40px;
  position: absolute;
  top: -31px;
  left: 95px;
  background-color: #ffe919;
}

.corp {
  background-color: #333;
  height: 245px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 1px 15px -5px black;
  position: absolute;
  top: 215px;
}
.cloak-right {
  position: absolute;
  height: 0;
  width: 0;
  top: 215px;
  left: 120px;
  border-right: 105px solid #222;
  border-bottom: 245px solid #222;
  border-radius: 0 100% 10% 0 / 0 71%;
}
.cloak-left {
  position: absolute;
  height: 0;
  width: 0;
  top: 215px;
  right: 120px;
  border-right: 105px solid #222;
  border-bottom: 245px solid #222;
  border-radius: 0% 100% 10% 0% / 0% 71%;
  transform: scaleX(-1);
}

.vader-head-top {
  position: absolute;
  top: 0;
  background-color: #333;
  height: 245px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 1px 15px -5px black;
}

.vader-head-right-shade {
  position: absolute;
  height: 0;
  width: 6px;
  top: 0px;
  left: 100px;
  border-right: 95px solid #222;
  border-bottom: 150px solid #222;
  border-radius: 0% 100% 10% 0% / 0% 71%;
}
.vader-head-left {
  position: absolute;
  top: 124px;
  left: -25px;
  height: 140px;
  width: 150px;
  background-color: #333;
  transform: rotate(-75deg);
  box-shadow: -15px 15px 20px -15px black;
}
.vader-head-left-shadow {
  position: absolute;
  width: 140px;
  height: 150px;
  background-color: #111;
  top: 120px;
  left: -15px;
  border-radius: 50% 90% 0% 0% / 100% 100% 0% 0%;
  transform: scaleX(-1) rotate(-15deg);
}

.vader-head-right {
  position: absolute;
  top: 124px;
  left: 77px;
  height: 140px;
  width: 150px;
  background-color: #222;
  transform: rotate(75deg);
  box-shadow: 15px 15px 20px -15px black;
}
.vader-head-right-shadow {
  position: absolute;
  width: 140px;
  height: 150px;
  background-color: #111;
  top: 120px;
  left: 78px;
  transform: rotate(-15deg);
  border-radius: 50%  90%  0%  0%  / 100%   100%   0%  0%;
}

.vader-respirator-1 {
  position: absolute;
  height: 65px;
  width: 5px;
  background-color: #222;
  top: 180px;
  left: 100px;
}

.vader-respirator-1:after {
    content: '';
    position: absolute;
    height: 30px;
    width: 10px;
    background-color: #222;
    top: 35px;
    left: 25px;
  }

.vader-respirator-1:before {
    content: '';
    position: absolute;
    height: 45px;
    width: 10px;
    background-color: #222;
    top: 20px;
    left: 10px;
}

.vader-respirator-2 {
  position: absolute;
  height: 65px;
  width: 5px;
  background-color: #333;
  top: 180px;
  left: 95px;
}
.vader-respirator-2:after {
    content: '';
    position: absolute;
    height: 30px;
    width: 10px;
    background-color: #333;
    top: 35px;
    left: -30px;
}

.vader-respirator-2:before {
    content: '';
    position: absolute;
    height: 45px;
    width: 10px;
    background-color: #333;
    top: 20px;
    left: -15px;
}

.sword {
  position: absolute;
  left: 285px;
  transform: rotate(40deg);
}
.grip {
  height: 6rem;
  width: .5rem;
  background-color: #111;
}
.blade {
  height: 20rem;
  width: .5rem;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  background-color: #ff5757;
  box-shadow: 0 0 2rem 0.5rem rgba(203, 98, 98, 0.7);
}
