.vader-wrapper {
  position: relative;
  width: 200px;
  margin: 20px;
  transform: scale(0.65);
}

.head, .corp, .sword, .cloak-left, .cloak-right {
  visibility: hidden;
}

.head {
  transform: scale(.001);
  transition: 500ms ease-out;
}

.rope {
  width: 10px;
  height: 40px;
  position: absolute;
  top: -31px;
  left: 95px;
  background-color: #ffe919;
}

.corp {
  background-color: #333;
  height: 0;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 1px 15px -5px black;
  position: absolute;
  top: 215px;
  transition: height 0.5s ease-in-out;
}
.cloak-left {
  position: absolute;
  height: 0;
  width: 0;
  top: 215px;
  left: -25px;
  border-right: 0 solid #222;
  border-bottom: 245px solid #222;
  border-radius: 100% 0 0 10%/ 71% 0;
  transition: border-right 0.5s ease-in-out;
  animation: cloak 5s linear infinite;
}
.cloak-right {
  position: absolute;
  height: 0;
  width: 0;
  top: 215px;
  right: -25px;
  border-right: 0 solid #222;
  border-bottom: 245px solid #222;
  border-radius: 100% 0 0 10%/ 71% 0;
  transform: scaleX(-1);
  transition: border-right 0.5s ease-in-out;
  animation: cloak 5s linear infinite;
}

.vader-head-top {
  position: absolute;
  top: 0;
  background-color: #333;
  height: 245px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0px 1px 15px -5px black;
}

.vader-head-right-shade {
  position: absolute;
  height: 0;
  width: 6px;
  top: 0px;
  left: 100px;
  border-right: 95px solid #222;
  border-bottom: 150px solid #222;
  border-radius: 0% 100% 10% 0% / 0% 71%;
}
.vader-head-left {
  position: absolute;
  top: 124px;
  left: -25px;
  height: 140px;
  width: 150px;
  background-color: #333;
  transform: rotate(-75deg);
  box-shadow: -15px 15px 20px -15px black;
}
.vader-head-left-shadow {
  position: absolute;
  width: 140px;
  height: 150px;
  background-color: #111;
  top: 120px;
  left: -15px;
  border-radius: 50% 90% 0% 0% / 100% 100% 0% 0%;
  transform: scaleX(-1) rotate(-15deg);
}

.vader-head-right {
  position: absolute;
  top: 124px;
  left: 77px;
  height: 140px;
  width: 150px;
  background-color: #222;
  transform: rotate(75deg);
  box-shadow: 15px 15px 20px -15px black;
}
.vader-head-right-shadow {
  position: absolute;
  width: 140px;
  height: 150px;
  background-color: #111;
  top: 120px;
  left: 78px;
  transform: rotate(-15deg);
  border-radius: 50%  90%  0%  0%  / 100%   100%   0%  0%;
}

.vader-respirator-1 {
  position: absolute;
  height: 65px;
  width: 5px;
  background-color: #222;
  top: 180px;
  left: 100px;
  animation-name: resp-1;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.vader-respirator-1:after {
  content: '';
  position: absolute;
  height: 30px;
  width: 10px;
  background-color: #222;
  top: 35px;
  left: 25px;
  animation-name: resp-1-a;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.vader-respirator-1:before {
  content: '';
  position: absolute;
  height: 45px;
  width: 10px;
  background-color: #222;
  top: 20px;
  left: 10px;
  animation-name: resp-1-b;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.vader-respirator-2 {
  position: absolute;
  height: 65px;
  width: 5px;
  background-color: #333;
  top: 180px;
  left: 95px;
  animation-name: resp;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.vader-respirator-2:after {
  content: '';
  position: absolute;
  height: 30px;
  width: 10px;
  background-color: #333;
  top: 35px;
  left: -30px;
  animation-name: resp-a;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.vader-respirator-2:before {
  content: '';
  position: absolute;
  height: 45px;
  width: 10px;
  background-color: #333;
  top: 20px;
  left: -15px;
  animation-name: resp-b;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sword {
  position: absolute;
  left: 250px;
  top: 330px;
  width: 500px;
  transform: rotate(310deg);
  transform-origin: left bottom;
  transition: 1s;
  z-index: 1;
}
.grip {
  position: relative;
  top: -300px;
  right: -300px;
  height: 0.5rem;
  width: 6rem;
  background-color: #111;
  transition: 1s ease-out;
}
.blade {
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 0 5vw 5vw 0;
  border-top-right-radius: 10vw 5vw;
  border-bottom-right-radius: 10vw 5vw;
  transition: width 0.5s ease-in-out;
  height: 0.5rem;
  width: 0;
  background-color: #ff5757;
  box-shadow: 0 0 2rem 0.5rem rgba(203, 98, 98, 0.7);
}

@keyframes resp {
  0% {
  }
  100% {
    height: 80px;
    transform: translateY(-5px) translateX(-2px);
    width: 7px;
  }
}
@keyframes resp-b {
  0% {
  }
  100% {
    height: 60px;
    transform: translateX(-2px);
    width: 12px;
  }
}
@keyframes resp-a {
  0% {
  }
  100% {
    height: 45px;
    transform: translateX(-4px);
    width: 12px;
  }
}

@keyframes resp-1 {
  0% {
  }
  100% {
    height: 80px;
    transform: translateY(-5px);
    width: 7px;
  }
}
@keyframes resp-1-b {
  0% {
  }
  100% {
    height: 60px;
    transform: translateX(2px);
    width: 12px;
  }
}
@keyframes resp-1-a {
  0% {
  }
  100% {
    height: 45px;
    transform: translateX(4px);
    width: 12px;
  }
}
@keyframes cloak {
  0% {}
  50% {
    border-radius: 100% 20% 30% 20%/ 61% 10%;
  }
  100% {
    border-radius: 100% 0 0 10%/ 71% 0;
  }
}
